<!-- <div class="card text-center col-md-4 offset-md-4" style="background-color:  #F0F4F7;">
    
    <form  (ngSubmit) = "onSubmit()">
       
        <div class="form-group mr-2">
            <label>Planter  Id </label>
            <input type="text" class="form-control" id="pid" name="pName"
                [(ngModel)]="planter.planterId"/>
        </div>
    
        <div class="form-group">
            <label>Planter Name </label>
            <input type="text" class="form-control" id="pname" 
             name="pName" [(ngModel)]="planter.planterName"/>
             
        </div>
        <div class="form-group">
            <label> Planter Height </label>
            <input type="text" class="form-control" id="pplanterHeight" 
             name="pplanterHeight" [(ngModel)]="planter.planterheight"/>
        </div>
        <div class="form-group">
            <label>Planter Capacity </label>
            <input type="text" class="form-control" id="pplanterCapacity" 
             name="pplanterCapacity" [(ngModel)]="planter.planterCapacity"/>
        </div>
        <div class="form-group">
            <label>Planter Shape </label>
            <input type="text" class="form-control" id="pplanterShape" 
             name="pplanterShape" [(ngModel)]="planter.planterShape"/>
        </div>
        <div class="form-group">
            <label>Drinage Holes</label>
            <input type="text" class="form-control" id="pdrinageHoles" 
             name="pdrinageHoles" [(ngModel)]="planter.drinageHoles"/>
        </div>
        <div class="form-group">
            <label>Planter Stock </label>
            <input type="text" class="form-control" id="pplanterStock" 
             name="pplanterStock" [(ngModel)]="planter.planterStock"/>
        </div>
        <div class="form-group">
            <label>Planter Cost </label>
            <input type="text" class="form-control" id="pplanterCost" 
             name="pplanterCost" [(ngModel)]="planter.planterCost"/>
        </div>
    
        <div class="card-footer text-muted">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        
         
    </form>
    </div> -->