<table style="width: 100%;height: 5%;">
  <tr>
    <td> <img src="/assets/image/title.jpg"></td>
    <td style="width: 70%;background-color:aqua;"> <span style="font-size: 70px;color:
     rgb(147, 147, 158);margin-left: 20%;"> 
      ONLINE PLANT APP</span></td>
    <td style="width: 20%;background-color: rgb(161, 120, 248);">
      <a href="#">login</a>/
      <a href="#" style="margin-left: 10px;"> signup</a>
    </td>
  </tr>
</table>

<table style=" width: 100%;height: 10%;">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/onlyPlants">  Only Plants</a></td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/onlySeeds">  Only Seeds</a></td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/launchplanter"> Launch New Planter</a></td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/planters"> View All Planters</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/filters"> Filters</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/plantersinDB"> planters in db</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/addplanters"> Add Planters</a>  </td>
  </tr>   
</table>
<hr/>
<router-outlet></router-outlet>